@model Project.Rwa.Mvc.Djelatnik
@using Project.Rwa.Mvc.Resources

@{
    ViewBag.Title = Strings.Login;
}

<h2>@(Strings.Login)</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Zaporka)
        @Html.EditorFor(model => model.Zaporka, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Zaporka, "", new { @class = "text-danger" })
    </div>

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <input type="submit" value="Save" class="btn btn-primary" />

}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
