@model Project.Rwa.Mvc.Djelatnik
@using Project.Rwa.Mvc.Resources

<div class="row justify-content-md-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4>@(Strings.LoginPageHeading)</h4>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, Strings.Email)
                        @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Zaporka, Strings.Password)
                        @Html.TextBoxFor(m => m.Zaporka, "", new { @class = "form-control", @placeholder = "Password" })
                    </div>
                    <div class="form-group">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                       
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary" value="Login" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

