@model IEnumerable<Project.Rwa.Mvc.Models.ProjectViewModel>
@using Project.Rwa.Mvc.Resources

@{
    ViewBag.Title = "MainPage";
}

<h2>@(Strings.MainPage)</h2>

<table class="table">
    <tr>
        <th>
            @(Strings.Project)
        </th>
        <th>
            @(Strings.TotalProjectDuration)
        </th>
        <th>
            @(Strings.ProjectStart)
        </th>
        <th>
            @(Strings.ProjectEnd)
        </th>
        <th>
            @(Strings.WorkHours)
        </th>
        <th>
            @(Strings.OverTimeHours)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <div class="total-time-duration">
                    @Html.DisplayFor(modelItem => item.TotalTimeDuration)
                </div>         
            </td>
            <td>
                <a class="btn btn-success stopwatch-start">@(Strings.ProjectStartLabel)</a>
            </td>
            <td>
                <a class="btn btn-danger stopwatch-stop">@(Strings.ProjectEndLabel)</a>
            </td>
            <td>
                <div class="form-group">
                    @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(modelItem => item.Name, "", new { @class = "text-danger" })
                </div>
            </td>
            <td>
                <div class="form-group">
                    @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(modelItem => item.Name, "", new { @class = "text-danger" })
                </div>
            </td>
        </tr>
    }
</table>
<h3>Comment</h3>
<textarea class="form-control" rows="4" cols="20"></textarea>
