@model IEnumerable<Project.Rwa.Mvc.Projekt>
@using Project.Rwa.Mvc.Resources

@{
    ViewBag.Title = "MainPage";
}

<h2>@(Strings.MainPage)</h2>

<table class="table">
    <tr>
        <th>
            @(Strings.Project)
        </th>
        <th>
            @(Strings.TotalProjectDuration)
        </th>
        <th>
            @(Strings.ProjectStart)
        </th>
        <th>
            @(Strings.ProjectEnd)
        </th>
        <th>
            @(Strings.WorkHours)
        </th>
        <th>
            @(Strings.OverTimeHours)
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Naziv)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DatumOtvaranja)
    </td>
    <td>
        <input type="submit" class="btn-outline-success" value="Insert" name='button' />
    </td>
    <td>
        <input type="submit" class="btn-outline-danger" value="Insert" name='button' />
    </td>
    <td>
        <div class="form-group">
            @Html.EditorFor(modelItem => item.Naziv, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(modelItem => item.Naziv, "", new { @class = "text-danger" })
        </div>
    </td>
    <td>
        <div class="form-group">
            @Html.EditorFor(modelItem => item.Naziv, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(modelItem => item.Naziv, "", new { @class = "text-danger" })
        </div>
    </td>
</tr>
    }

</table>
