@model IEnumerable<Project.Rwa.Mvc.Models.ProjectViewModel>
@using Project.Rwa.Mvc.Resources


<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <span class="navbar-brand mb-0 h4">@(Strings.MainPageHeading)</span>
                    <div class="collapse navbar-collapse">
                        <form class="form-inline ml-auto mr-3">
                            <input class="form-control mr-sm-2" type="date" placeholder="Search" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" aria-label="Search">
                        </form>
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                @{
                                    string email = Session["UserEmail"].ToString();
                                    @Html.ActionLink(email, "UserEdit", "Home", null, new { @class = "nav-link" })
                                }
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink(Strings.LogOutButton, "LogOut", "Home", null, new { @class = "nav-link" })
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">@(Strings.ProjectTableHeading)</th>
                            <th scope="col">@(Strings.TotalWorkHoursHeading)</th>
                            <th scope="col">@(Strings.ProjectStartHeading)</th>
                            <th scope="col">@(Strings.ProjectStopHeading)</th>
                            <th scope="col">@(Strings.WorkHoursHeading)</th>
                            <th scope="col">@(Strings.OverTimeHoursHeading)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="collapse-click">
                                <td>
                                    @(item.Project)
                                </td>
                                <td>
                                    @(item.TotalWorkHours)
                                </td>
                                <td>
                                    @Html.ActionLink(Strings.StartButton, "ProjectStart", "Home", null, new { id = "buttonStart", @class = "btn btn-success" })

                                </td>
                                <td>
                                    @Html.ActionLink(Strings.StopButton, "ProjectEnd", "Home", null, new { id = "buttonStop", @class = "btn btn-danger" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(c => it , "", new { @class = "form-control", @placeholder = "Password" })
                                </td>
                                <td>
                                    @(item.Project)
                                </td>
                            </tr>
                            foreach (var workHourModel in item.WorkHours)
                            {
                                <tr class="collapse">
                                    <td>@(workHourModel.TimePeriod)</td>
                                    <td>@(workHourModel.Duration)</td>
                                    <td colspan="4">
                                        <button id="@(workHourModel.Id)" class="btn far fa-trash-alt delete-click" />
                                    </td>
                                </tr>
                            }
                                      }
                        </tbody>
                </table>
                @using (Html.BeginForm())
                {
                                          @Html.AntiForgeryToken()

                                          <div class="form-group">
                        
                        @*@Html.LabelFor(m => null, Strings.Password)
                        @Html.TextAreaFor(m => m.Zaporka, "", new { @class = "form-control", @placeholder = "Password" })*@
                        
                    </div>
                }
            </div>
        </div>
    </div>
</div>
















